################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HamzaBookStore/.vs/HamzaBookStore/v16
/HamzaBookStore/HamzaBookStore/obj
/MHamzaBookStore/.vs/MHamzaBookStore/v16
/MHamzaBookStore/.vs/MHamzaBookStore/config
/MHamzaBookStore/MHamzaBookStore/bin/Debug/netcoreapp3.1
/MHamzaBookStore/MHamzaBookStore/obj
